* {
	box-sizing: border-box;
}

.page {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
	background-color: red;
}

header {
	background-color: green;
	width: 100%;
	height: 100px;
	position: relative;
}

header img {
	height: 100px;
	width: 100px;
}

.logo {
	height: 100px;
	width: 100px;
	background-color: orange;
	float: left;
}

header h1 {
	margin-left: 100px;
	margin-top: 0;
}

.logout {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
}

.primary-content {
	overflow: hidden;
	background-color: blue;
	padding: 10px;
}

main {
	height: 300px;
	width: 400px;
	background-color: lightblue;
	float: left;
	margin-top: 20px;
	padding: 1px;
}

main .user {
	background-color: rgb(0, 145, 208);
	text-align: center;
	padding: 1px;
	margin: 10px;
}

.user .image {
	height: 100px;
	width: 100px;
	background-color: orange;
	float: left;
	margin: 10px;
}

.user p {
	display: inline-block;
}

.user .points {
	border: 2px solid black;
}

/*THREAD*/

aside {
	/*width: 500px;*/
	height: 500px;
	margin-left: 430px;
	background-color: teal;
	margin-top: 20px;
	padding: 1px;
}

aside > * + * {
	margin-top: 10px;
}

.compose {
	background-color: red;
	border: 2px solid black;
	padding: 10px;
}

.compose > div {
	margin-top: 10px;
	text-align: right;
	display: none;
}

.compose textarea {
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #C0E1ED;
	display: block;
	width: 100%;
	padding: 4px;
	resize: none;
	height: 1.8em;
}

.compose textarea:focus {
	outline: none;
}

.compose button {
	margin-top: 5px;
}

/*POST*/

.post {
	overflow: hidden;
	background-color: lightgreen;
	border: 2px solid black;
	padding: 10px;
	position: relative;
}

.post > img {
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	background-color: #eee;
	border-radius: 4px;
}

.post .body {
	margin-left: 60px;
	padding-left: 10px;
}

.post .user_name {
	font-weight: 700;
	color: #333;
}

.post .message {
	margin-top: 5px;
	border: 2px solid black;
}

.post select {
	right: 0;
	position: absolute;
	margin-right: 10px;
	margin-top: 5px;
}

.post .display-points {
	width: 20px;
	border: 2px solid black;
	top: 5px;
	right: 5px;
	position: absolute;
}










