* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	color: #FFFFF0;
}

.page {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
}

body {
	background-color: rgb(163, 161, 161);
}

/*PRIMARY HEADER*/

header {
	background: url("/images/wood2.jpg");
	width: 100%;
	position: relative;
	border: 2px solid black;
	overflow: hidden;
}

header img {
	height: 100px;
	width: 100px;
	float: left;
	border-right: 2px solid black;
}

header h1 {
	margin: 0 auto;
	font-family: 'Orbitron', sans-serif;
	padding-top: 35px;
	padding-left: 105px;
	color: rgb(237, 225, 208);
}

.logout {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	color: rgb(237, 225, 208);
	font-family: 'Orbitron', sans-serif;
}

.scroll {
	font-family: 'Orbitron', sans-serif;
	padding-left: 180px;
	margin: 0;
	color: rgb(237, 225, 208);
}

/*PRIMARY CONTENT*/

.primary-content {
	overflow: hidden;
	background: url("/images/wood2.jpg");
	padding: 10px;
	border: 2px solid black;
	border-top: 0;
}

/*USER INFO*/

main {
	/*height: 300px;*/
	width: 400px;
	background-color: transparent;
	float: left;
	margin-top: 9px;
	padding: 1px;
	border-radius: 5px;
}

main .user {
	background-color: rgb(44, 44, 48);
	margin: 10px;
	border: 2px solid rgb(23, 21, 21);
	border-radius: 5px;
	position: relative;
}

.user img {
	height: 80px;
	width: 80px;
	float: right;
	top: 5px;
	right: 0;
	margin: 0 10px;
	border-radius: 5px;
	position: absolute;
}

.user h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-bottom: 0;
}

.profile-info p {
	display: inline-block;
	margin-bottom: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 12pt;
}

.user > div {
	background-color: rgb(44, 44, 48);
	padding-left: 15px;
}

div.man-points {
	padding-left: 15px;
	border-top: 2px solid rgb(23, 21, 21);
	background-color: rgb(45, 52, 68);
	padding-bottom: 1px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 5px;
}

.man-points p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 12pt;
}

/*THREAD*/

aside {
	margin-left: 430px;
	background-color: transparent;
	margin-top: 20px;
	padding: 1px;
}

aside > * + * {
	margin-top: 10px;
}

.compose {
	background-color: rgb(44, 44, 48);
	border: 2px solid black;
	padding: 10px;
	border-radius: 3px;
}

.compose > div {
	margin-top: 10px;
	text-align: right;
}

.compose textarea {
	border-radius: 3px;
	background-color: #FFFFF0;
	display: block;
	width: 100%;
	padding: 4px;
	resize: none;
	height: 1.8em;
	color: black;
}

.compose textarea:focus {
	outline: none;
}

.compose button {
	margin-top: 5px;
	background-color: #FFFFF0;
	border-color: transparent;
	color: black;
	border-radius: 5px;
	border: 0;
}

/*POST*/

.post {
	background-color: rgb(44, 44, 48);
	border: 2px solid black;
	padding: 10px;
	position: relative;
	border-left: 3px solid rgb(40, 146, 217);
	border-radius: 3px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	padding-bottom: 20px;
}

.post > img {
	float: left;
	width: 60px;
	height: 60px;
	background-color: #eee;
	border-radius: 4px;
}

.post .body {
	margin-left: 60px;
	padding-left: 10px;
}

.post .user_name {
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 12pt;
}

.post .message {
	border-radius: 5px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding: 5px;
	padding-left: 0;
	margin: 3px;
	margin-left: 0;
}

.post select, .post .remove {
	right: 2px;
	bottom: 3px;
	position: absolute;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	border-color: transparent;
	margin-bottom: 5px;
	background-color: #FFFFF0;
	color: black;
}

.post .remove {
  cursor: pointer;
}

.post button {
	margin-right: 10px;
	margin-top: 5px;
}

.post .display-points {
	min-width: 20px;
	border-radius: 5px;
	top: 5px;
	right: 13px;
	position: absolute;
	text-align: center;
	padding: 1px 5px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.copyright {
	text-align: center;
	font-family: 'PT Sans Caption', sans-serif;
	color: black;
}

/*LOGIN*/

.login-content {
	overflow: hidden;
	background: url("/images/wood2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
	text-align: center;
	border: 2px solid black;
	border-top: 0;
}

.login-main {
	width: 400px;
	background-color: rgb(44, 44, 48);
	padding: 1px;
	float: none;
	border: 2px solid black;
	border-radius: 5px;
	margin: 0 auto;
	font-weight: 300;
	padding-bottom: 20px;
}

.login-main h3 {
	font-weight: 300;
}

.login-main .submit {
	background-color: #FFFFF0;
	color: black;
	border: transparent;
	padding: 5px 45px;
}

.login-main .sign-up {
	background-color: #FFFFF0;
	color: black;
	padding: 5px 45px;
	border: transparent;
	border-bottom: 2px solid black;
}

.login-main input {
	color: black;
	border-color: transparent;
	background-color: rgb(95, 96, 97);
}

/*Temp? fix until reptile forms issue is resolved */

div.post > textarea {
	width: 85%;
	color: black;
}





