* {
	box-sizing: border-box;
}

.page {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
	/*background-color: red;*/
}

header {
	background-color: rgb(189,189,189);
	width: 100%;
	position: relative;
	border: 2px solid rgb(75,75,75);
	overflow: hidden;
}

header img {
	height: 100px;
	width: 100px;
	float: left;
	border-right: 2px solid rgb(75,75,75);
}

header h1 {
	margin: 0 auto;
	font-family: 'Orbitron', sans-serif;
	padding-top: 35px;
	padding-left: 105px;
}

.logout {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	color: rgb(203, 10, 10);
	font-family: 'Orbitron', sans-serif;
}

.primary-content {
	overflow: hidden;
	background-color: rgb(237, 237, 237);
	padding: 10px;
	border: 2px solid rgb(75,75,75);
}

main {
	height: 300px;
	width: 400px;
	background-color: rgb(189,189,189);
	float: left;
	margin-top: 20px;
	padding: 1px;
	border: 2px solid rgb(75,75,75);
	border-radius: 5px;
}

main .user {
	background-color: rgb(255, 255, 255);
	margin: 10px;
	border: 2px solid rgb(75,75,75);
	border-radius: 5px;
	position: relative;
}

.user img {
	height: 80px;
	width: 80px;
	float: right;
	top: 5px;
	right: 0;
	margin: 0 10px;
	border-radius: 5px;
	position: absolute;
}

.user h3 {
	font-family: 'PT Sans Caption', sans-serif;
	margin-bottom: 0;
}

.profile-info p {
	display: inline-block;
	margin-bottom: 10px;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 12pt;
}

.user > div {
	background-color: rgb(255, 255, 255);
	padding-left: 15px;
}

div.man-points {
	padding-left: 15px;
	border-top: 2px solid rgb(75,75,75);
	background-color: rgb(237, 237, 237);
	padding-bottom: 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 8px solid rgb(40, 146, 217);
}

.man-points p {
	font-family: 'Iceland', cursive;
	font-size: 16pt;
}

/*THREAD*/

aside {
	margin-left: 430px;
	background-color: rgb(237, 237, 237);
	margin-top: 20px;
	padding: 1px;
}

aside > * + * {
	margin-top: 10px;
	margin-bottom: 10px;
}

.compose {
	background-color: white;
	border: 2px solid rgb(75,75,75);
	padding: 10px;
	border-radius: 5px;
}

.compose > div {
	margin-top: 10px;
	text-align: right;
	display: none;
}

.compose textarea {
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid rgb(75,75,75);
	display: block;
	width: 100%;
	padding: 4px;
	resize: none;
	height: 1.8em;
}

.compose textarea:focus {
	outline: none;
}

.compose button {
	margin-top: 5px;
}

/*POST*/

.post {
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(75,75,75);
	padding: 10px;
	position: relative;
	border-left: 8px solid rgb(40, 146, 217);
	border-radius: 5px;
	padding-bottom: 20px;
}

.post > img {
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	background-color: #eee;
	border-radius: 4px;
}

.post .body {
	margin-left: 60px;
	padding-left: 10px;
}

.post .user_name {
	font-weight: 700;
	color: #333;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 12pt;
}

.post .message {
	margin-top: 5px;
	border: 2px solid rgb(75,75,75);
	border-radius: 5px;
	font-family: 'PT Sans Caption', sans-serif;
	padding: 3px;
}

.post select {
	right: 40px;
	position: absolute;
	margin-right: 10px;
	margin-top: 5px;
}

.post button {
	right: 0;
	position: absolute;
	margin-right: 10px;
	margin-top: 5px;
}

.post .display-points {
	width: 20px;
	border: 2px solid rgb(75,75,75);
	border-radius: 5px;
	top: 5px;
	right: 10px;
	position: absolute;
	text-align: center;
}

.copyright {
	text-align: center;
	font-family: 'PT Sans Caption', sans-serif;
}

/*LOGIN*/

.login-content {
	overflow: hidden;
	background-color: rgb(237, 237, 237);
	padding: 10px;
	border: 2px solid rgb(75,75,75);
	text-align: center;
}

.login-main {
	height: 250px;
	width: 400px;
	background-color: rgb(189,189,189);
	padding: 1px;
	float: none;
	border: 2px solid rgb(75,75,75);
	border-radius: 5px;
	margin: 0 auto;
}

.e-expand {
	display: none;
}





