/*header {
    backgroud-color: lightgreen;
    text-align: center;
}

.page {
    width: 960px;
    height: 500px;
    background-color: lightgray;
    margin:0 auto;
    text-align: center;
    position: relative;
}

.logo {
    height: 200px;
    width: 200px;
    background-color: lightblue;
    margin:0 auto;
}

.login_form {
    position:absolute;
    left: 50%;
    margin-left: -100px;
    text-align: right;
}*/
/*
.signup {
    display: none;
}

.signup.expand {
    display: inline-block;
}*/